<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calm Flow</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='icons/favicon.png') }}"
    />
  </head>
  <body>
    <div class="site-container">
      <header class="site-header">
        <div class="header-container">
          <a href="/" class="logo">Calm Flow</a>
          <div class="header-controls">
            <div class="volume-control-container">
              <img
                id="volume-icon"
                src="{{ url_for('static', filename='icons/volume.png') }}"
                alt="Volume"
                class="global-volume-icon"
              />
              <input
                id="global-volume-slider"
                class="volume-slider global-slider"
                type="range"
                min="0"
                max="100"
                value="50"
              />
            </div>
            <button
              type="button"
              class="theme-toggle"
              id="theme-toggle"
              title="Toggle theme"
            >
              <img
                src="{{ url_for('static', filename='icons/sun.png') }}"
                alt="Sun"
                class="theme-icon sun"
              />
              <img
                src="{{ url_for('static', filename='icons/moon.png') }}"
                alt="Moon"
                class="theme-icon moon"
              />
            </button>
          </div>
        </div>
      </header>

      <main class="main-content">
        <section class="playlists-section">
          <div class="playlists-header">
            <h2 class="section-title">Playlists</h2>
          </div>
          <div class="carousel-wrapper">
            <button id="scroll-left" class="arrow-btn">&lt;</button>
            <div class="playlist-carousel-container">
              <div class="playlist-carousel">
                <div class="playlist-grid">
                  <a href="#" class="playlist-card" id="random-playlist">
                    <div class="playlist-icon">
                      <img
                        src="{{ url_for('static', filename='icons/random.png') }}"
                        alt="Random Icon"
                        class="icon-img"
                      />
                    </div>
                    <h3 class="playlist-title">Random</h3>
                  </a>
                  {% for group in groups %}
                  <a href="#" class="playlist-card" data-group="{{ group.id }}">
                    <div class="playlist-icon">
                      <img
                        src="{{ url_for('static', filename=group.playlist_icon.split('static/')[1]) }}"
                        alt="{{ group.name }} Icon"
                        class="icon-img"
                      />
                    </div>
                    <h3 class="playlist-title">{{ group.name }}</h3>
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <button id="scroll-right" class="arrow-btn">&gt;</button>
          </div>
        </section>

        <section class="sounds-section">
          <div class="sounds-header">
            <h2 class="section-title">Sounds</h2>
            <button class="action-button clear">Clear Playing</button>
          </div>
          <div class="sound-buttons-grid">
            {% for sound in sounds %}
            <div
              class="sound-button-container"
              data-sound-name="{{ sound['name'] }}"
              data-group="{{ sound['groups'] | join(' ') }}"
            >
              <button class="sound-button">
                <img
                  src="{{ url_for('static', filename=sound['icon'].split('static/')[1]) }}"
                  alt="{{ sound['display_name'] }}"
                  class="sound-icon"
                />
                <p class="sound-name">{{ sound['display_name'] }}</p>
              </button>
              <div class="volume-control hidden">
                <input
                  type="range"
                  class="volume-slider"
                  min="0"
                  max="100"
                  value="50"
                />
              </div>
            </div>
            {% endfor %}
            <div class="sound-button-container premium">
              <button class="sound-button">
                <img
                  src="/static/icons/airplane.png"
                  alt="Airplane"
                  class="sound-icon"
                />
                <p class="sound-name">Airplane</p>
              </button>
            </div>
            <div class="sound-button-container premium">
              <button class="sound-button">
                <img
                  src="/static/icons/bird.png"
                  alt="Bird"
                  class="sound-icon"
                />
                <p class="sound-name">Bird</p>
              </button>
            </div>
            <div class="sound-button-container premium">
              <button class="sound-button">
                <img src="/static/icons/cat.png" alt="Cat" class="sound-icon" />
                <p class="sound-name">Cat</p>
              </button>
            </div>
            <div class="sound-button-container premium">
              <button class="sound-button">
                <img
                  src="/static/icons/classroom.png"
                  alt="Classroom"
                  class="sound-icon"
                />
                <p class="sound-name">Classroom</p>
              </button>
            </div>
            <div class="sound-button-container premium">
              <button class="sound-button">
                <img
                  src="/static/icons/library.png"
                  alt="Library"
                  class="sound-icon"
                />
                <p class="sound-name">Library</p>
              </button>
            </div>
            <div class="sound-button-container premium">
              <button class="sound-button">
                <img
                  src="/static/icons/rain_on_umbrella.png"
                  alt="Rain on Umbrella"
                  class="sound-icon"
                />
                <p class="sound-name">Rain on Umbrella</p>
              </button>
            </div>
            <div class="sound-button-container premium">
              <button class="sound-button">
                <img
                  src="/static/icons/ship.png"
                  alt="Ship"
                  class="sound-icon"
                />
                <p class="sound-name">Ship</p>
              </button>
            </div>
            <div class="sound-button-container premium">
              <button class="sound-button">
                <img
                  src="/static/icons/white_noise.png"
                  alt="White Noise"
                  class="sound-icon"
                />
                <p class="sound-name">White Noise</p>
              </button>
            </div>
          </div>
        </section>
      </main>

      <footer class="site-footer">
        <p>
          &copy; Calm Flow. All third-party assets were used for educational
          purposes only.
        </p>
      </footer>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
